/*FONT CLASSIC*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*FONT TITLE*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/*FONT HANDWRITING*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/*TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  position: relative;
}

.sublinks {
  display: none;
}

.parent:hover .sublinks {
  display: block;
}

/*CITATIONS*/
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  font-style: italic;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}
